<div class="center jumbotron">
<h1 >Instagram App</h1>
   <h2>
    <p class = "test_font-size">This is the home page for the
    <a href="https://www.instagram.com/">Instagram app</a>
    sample application.</p>
    <p class = "sign_up_now"><%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary" %></p>
  </h2>
 
 <div class = "cat_image">
  <%= image_tag("kitten.jpg" , size: "100x100")  %>
  </div>