<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control inset', placeholder: "名前を入力してください" %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control inset' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control inset', placeholder: "6文字以上" %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control inset' , placeholder: "パスワード再確認" %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>