<footer class="footer">
  <small>
    The <a href="https://www.instagram.com/">Insta app</a>
    by <a href="https://www.google.co.jp/search?q=Yuga+Kida&oq=Yuga+Kida&aqs=chrome..69i57j69i60j69i61j69i60.5771j0j8&sourceid=chrome&ie=UTF-8">Yuga Kida</a>
  </small>
  <nav>
   <%= link_to "GO to UPLOAD",   '#', class: "btn btn-default btn-go-to-upload" %>
  </nav>
</footer>